* {
    -light-blue: #46A3FF;
    -light-red: #FF827E;
    -light-Yellow: #FFB048;
    -white: #FFFFFF;
    -gray10: #F1F1F1;
    -gray20: #E3E3E3;
    -gray30: #ADADAD;
    -gray40: #808080;
    -gray50: #575757;
    -gray60: #282828;
    -black: #000000;
}

#pane{
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
    -fx-background-color: -white;
    -fx-background-image: url(../images/app_background.png);
    -fx-background-repeat: stretch;
    -fx-background-radius: 10px;
    -fx-background-size: 800 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
.button{
    -fx-background-color: -light-blue;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-pref-width: 250px;
    -fx-pref-height: 50px;


}
.button:hover, .button:focus {
    -fx-background-color: -light-red;
    -fx-background-insets: 0 10px 0 10px;
    -fx-cursor: hand;
    -fx-border-radius: 10px;
}

.radio-button .radio {
    -fx-border-width: 5px;
    -fx-border-color: -light-red;
    -fx-background-color: transparent;
    -fx-background-image: null;
    -fx-border-radius: 5px;
    -fx-padding: 3px;

}
.radio-button .radio:selected {
    -fx-background-color: -light-blue;
    -fx-background-insets: 0;
}

.radio-button .radio:pressed  {
    -fx-background-color: -light-blue;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: -white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: -white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: -white;
    -fx-background-image: null;
}
.button{
    -fx-background-color: #46A3FF;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-pref-width: 250px;
    -fx-pref-height: 50px;


}
.button:hover, .button:focus {
    -fx-background-color: #FF827E;
    -fx-background-insets: 0 10px 0 10px;
    -fx-cursor: hand;
    -fx-border-radius: 10px;
}

.label {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}
.dialog-pane {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-pref-width: 400px;
    -fx-pref-height: 200px;
}
.dialog.button-bar {
    -fx-alignment: CENTER;
}
